@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
}

#container {
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 1fr 6fr;
  grid-template-areas: "nav" "main";
}

nav {
  grid-area: nav;
}
nav .logo {
  width: 5.4rem;
  height: 4.8rem;
}

main {
  grid-area: main;

  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  height: 100%;
}
main img {
  width: min(350px, 100vw);
  height: auto;
  padding: 1rem;

  display: block;
  margin: auto;
  cursor: pointer;
}

ul.ledSection {
  position: absolute;
  top: 6.3rem;
  right: 20px;

  display: none;
  flex-direction: column;
  z-index: 2;
}
ul.ledSection > li {
  cursor: pointer;
  transition: .6s;
}

.visible {
  display: flex !important;
}

.off {
  opacity: 0.5;
}